{% extends "layout.html" %}

{% block title %}GRUPO D{% endblock %}


{% block body %}
    <div class="style-disculpas">
        <h1>DISCULPAS </h1>
        <p>Pido perdón por no poder hacer la practica en su tiempo y decir mucho perdón </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e-tEZ2H5tF8" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}